
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "theme/base";
@import "theme/main";
@import "nav";
@import "home";
@import "article";
@import "comment";

@import "~bulma";

html {
  font-size: 10px !important;
  background-color: initial !important;
}

body {
  background: #19191b;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.875;
  color: #656565;
  margin: 0;
  padding: 0;
}

// Bulma custom

.has-background-cover {
  background-size: cover;
}

.has-background-centered {
  background-position: center;
}


